*{
	margin:0;
	padding: 0; 
}
.gro-top{
 width: 990px;
  margin: auto;
}
.gr-top-span{
	font-size: 15px;
	
	margin-top:20px; 
	border-left: 2px solid #000; 
	padding-left:5px;
	display: block;
	font-weight: 700;
}
.gro-biaodan{
	width: 900px;
	margin: auto;
	margin-top:30px;
	
}
.gr-in-span{
  margin-left:5px;
   font-size: 16px;
   
}
.gr-input2{
   margin-left: 50px;  
}
.gr-in-span1{
	margin-left: 5px;
    font-size: 16px;
}
.li{
margin-top:15px;
	width: 100%;
}
.li-span1{
	font-size: 13px;
	display: inline-block;
    width: 17%;
}
.li-span2{
	margin-right: 0px;
	font-size: 14px;

    width: 17%;
    display: inline-block;
}
.li-span3{
	margin-right: 0px;
	font-size: 14px;
	 width: 17%;
    display: inline-block;
}
.input1{
     width: 66%; 
     height: 30px;
     border: 1px solid #ccc;

}
.input-1-1{
	  background:url('../images/riqi.png')no-repeat 100%;
}
.gr-button{
	width: 100%;
	height: 60px;
	margin-top:40px; 
	text-align: center;
}
.gr-button button{

    height: 40px;
    background-color: rgba(196,35,72,1);
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius:5px; 
    padding-left: 10px;
    padding-right: 10px;
}
.cheche1 div{
	float: left;
	cursor: pointer;

	    
}
.cheche2{
	background: url('../images/beijche.jpg')no-repeat 100%/100%;
	width: 260px;
	height: 126px;
	background: none;
	border: 1px solid rgba(255,255,255,.15); 
    cursor:pointer;
    z-index: 999;
    display: inline-block;


}
.cheche3{
	margin-right: 6px;
    width: 31%;
    height: 120px;
    text-align: center;
    margin-left: 12px;
    cursor: pointer;
    z-index: 9999;
}
.h{
	margin-top:40px;
	font-weight: 700;
	font-size: 16px;
	color: #000; 
}
.h4{
	font-size: 17px;
	color: rgb(186, 53, 35);
	margin-left: 10px;
	 margin-top: 40px;
    display: inline-block;

}
.ul1 li{
	color: #000;
	list-style: disc; 
	margin-left: 30px;
	font-size: 13px; 
	    line-height: 28px;
}

.cheche2:hover{
	border: 1px solid rgb(186, 53, 35);
}
.wenzi1{
	border: none;
}
.xaiozi{
	margin-left: 143px; 
	text-align: left;
	    margin-top: 5px;
    margin-bottom: 5px;
}
.p{
	margin-left: 10px;
}
.dawenb{
	height: 100px;
	width: 66%;
	border:1px solid #ccc;  
}
.xiaoxiaozi{
	margin-top:10px; 
}
.ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    margin-left: 60px;
}
.xiaowenbeng{
	width: 66%;
	height: 100px;
    border: 1px solid #ccc;
}


@media(max-width: 1024px){
   .gro-top{
    width: 990px;
    margin: auto;

}
}


/*     */
@media(max-width: 768px){
   .wenzi1{
    width: 98%;
    margin: auto;
    margin:5px; 
    margin-left: 7px;
}

   .gro-top{
    width: 100%;
    margin: auto;
    padding-top:10px; 
}

   .gr-top-span{
    margin: auto;
    width: 99%;
    margin-left:5px; 
}

.gro-biaodan{
	width: 100%;
	margin-top:30px; 
	margin-top:10px;
}
.li-span1{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px; 
	    width: 18%;
}
.li-span2{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px;
	width: 18%; 
}
.li-span3{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px;
	width: 18%; 
}
.cheche3{
	margin-right: 6px;
    width: 30%;
    height: 120px;
    text-align: center;
    margin-left: 12px;
}
.cheche1 .cheche3{
	float: left;
}
.bianshelong:hover{ 
    color: #0066d0;
}


 .ul li{
	padding: 5px; 
}
.xaiozi{
	margin-left: 19%; 
	margin-top: 2px;
    margin-bottom: 2px;
    width: 66%;
}
.li{
margin-top:0px;
	width: 100%;
}
.ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    margin-left: 30px;
}
.input1 {
    width: 66%;
    height: 30px;
    border: 1px solid #ccc;
}

.content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
}

/*     */
@media(max-width: 767px){
   .wenzi1{
    width: 98%;

        margin-left: 4px;
}



   .gro-top{
    width: 100%;

}
.cheche3{
	margin-right: 6px;
    width: 100%;
    height: 120px;
    text-align: center;
    margin-left: 12px;
    margin-top: 20px;
}


   .gr-top-span{
    
    width: 98%;
    margin-left:5px; 
}

.gro-biaodan{
	width: 100%;
	margin-top:30px; 
	margin-top:10px;
}


.li-span1{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px;
	display: initial;
	width: 35%;
}

.li-span2{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px; 
	width: 35%;
}
.li-span3{
	margin-right: 0px;
	font-size: 14px;
	margin-left:0px;
	width: 35%; 
}
 .ul li{
	padding: 10px; 
	    display: flex;
}
 .input1{
	width: 58%; 
}
.biaotidang{
	font-weight: 700;
	font-size: 14px;
	margin-left:10px; 
}
.cheche{
	margin-top:30px; 
	width: 100%;
	height: 100%;
	margin-bottom: 100px; 
}
.xiaoche{
	border: none;
}
.xiaoche p{
	text-align: center;
}
.h1{
	margin-left:40px; 
	font-size: 18px;
	color: rgb(186, 53, 35);
	margin-top:30px; 
}
.daduanluo{
	margin-left:40px; 
	font-size: 13px;
}
.beijin{
	background:url('../images/dagou.jpg')no-repeat center 100%/102%;
	z-index: 999;
	border: 1px solid rgb(196, 35, 72);
}
textarea{
width: 300px;
height: 50px;
}


     textarea{
       width: 50%;
       height: 50px;
}
.xaiozi{
	margin-left: 36%; 
	padding-right: 5px;
	width: 60%;
}
.cheche4{
	text-align: left;
    margin-left: 14px;

}
.cheche6{
	text-align: left;
    margin-left: 14px;

}

.cheche7{
	text-align: left;
    margin-left: 14px;

}
.p{
	font-size: 13px;
	margin-left:10px; 
	color: #000;
	padding-right: 5px;
}
.ul1 li{
	color: #000;
	list-style: disc; 
	margin-left: 30px;
	font-size: 12px; 
	line-height: 28px;
    padding-right: 5px;
}
.cheche2 p{
	margin-left:10px; 
}
.cheche2 img{
	margin-left:4px; 
}
.dawenb{
	height: 100px;
	width: 60%;
	border:1px solid #ccc;  
}
.h {
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-left: 0px;
}
.ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    margin-left: 0px;
}
.xiaowenbeng{
	width: 60%;
	height: 100px;
    border: 1px solid #ccc;
    margin-left: 0px;"
}


}