body{
	margin: 0;
	padding: 0;
	background-color:#810e0e; 
}
.body{
   width: 1000px;
   height: 100%;
   margin:auto; 
}
.top{
    background-color: #fff;
    padding:10px 5px;
}
.top_font{
	font-size: 16px;
	font-weight: 700;
}
.top_img{
	height: auto;
    width: auto;
    max-width: 100%;
    display: inline-block; 
    margin-left:5px;
}
.top_img img{
	  padding-bottom: 5px; 
}
.content{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.content-w{
	width: 998px;
	height: 100%;
	margin: auto; 
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: inline-block;

	
}
.content_bottom-p{
	font-size: 13px;
}
.content_ht{
	width: 100%;
	height: 6px;
  background:url(../images/home/hongtiao.gif);
  display: -webkit-box;
}
.content_min{
	width:960px;
	height: 100%;
	margin: auto;
  display: block;
}
.content_top{
	width: 100%;
	height: 100%;
	border-bottom: 1px dashed #ccc;
}
.content_min-top-p{
	font-size: 14px;
	font-weight: 700;
    border-bottom: 1px dashed #ccc; 
        padding-bottom: 5px;
            display: -webkit-box;
}
.content_min-content{
  width: 100%;
  height: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dashed rgb(155, 213, 247);
        display: inline-flex;

}
.content_min-top-border{
	border: none;
}
.content_min-content-img{
	    width: 80px;
    height: 80px;
    display: block;
    float: left;
    margin-right: 20px;
    
}
.content_min-content-img img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.content_min-content-font{
  float: left;
  width: 88%;	
}
.content_min-content-font-china{
   width: 100%;
   display:inline-block;
}
.content_h4{
	font-size: 13px;
	font-weight: 700;

}
.content_p{
	font-size: 13px;
	padding:0px 0px 0px;
	line-height: 13px;

}
.content_bottom{
	width: 100%;
	height: 100%;
    margin-top: 10px;
    display: inline-block;
}
.content_lt{
	width: 100%;
	height: 6px;
  background:url(../images/home/lvtiao.gif);
  display: -webkit-box;
}
.content_Amenities{
	width: 18%;
	float: left;
	background-color: rgb(232, 245, 253);
	padding-left: 10px;
    padding-top: 5px;
    margin-right: 20px;
    padding-right: 5px;
        display:block;
}


.content_Amenities-child{
	width: 100%;
	height: 100%;
	color: rgb(79, 102, 204);
    font-size: 13px;
   margin-bottom: 0px;
       font-weight: 700;
       display: inline-block;
}
.content_Amenities_font{
float: left;
    width: 70%;
    display: block;
}
.content_Amenities_font-child{
   font-size: 13px;
   display: block;
}
.content_Pictures{
	width: 100%;
	height: 100%;
}
.content_Pictures-child{
   width: 48%;
   height: 293px;
   display: inline-block;
       margin-right: 34px;
   
}
.content_Pictures-child img{
	width: 100%;
	height: 100%;
     float: left;
}
.content_Pictures-child-r{
   
     width: 48%;
   height: 293px;
   display: inline-block;

}
.content_Pictures-child-r img{
	width: 100%;
	height: 100%;
      float:right;
}
@media(max-width: 1024px){
  .body{
   width: 1000px;
   height: 100%;
   margin:auto; 
}

}
@media(max-width: 768px){
     .body{
   width: 100%;
   height: 100%;
   margin:auto; 
}
.content{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.content-w{
	width: 766px;
	height: 100%;
	margin: auto; 
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display:block;

	
}
.content_top{
	width: 100%;
	height: 100%;
	border-bottom: 1px dashed #ccc;
}
.content_min {
    width: 730px;
    height: 100%;
    margin: auto;
}
.content_Pictures-child {
    width: 47%;
    height: 293px;
    display: inline-block;
    margin-right: 39px;
}
.content_Pictures-child-r{
    width: 47%;
    height: 293px;
    display: inline-block;
}
}
@media(max-width: 767px){
     .body{
   width: 100%;
   height: 100%;
   margin:auto; 
   overflow-x: hidden;
}
.content{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.content-w{
	width: 98%;
	height: 100%;
	margin: auto; 
    border: 1px solid #ccc;
    margin-bottom: 10px;

	
}
.content_top{
	width: 100%;
	height: 100%;
	border-bottom: 1px dashed #ccc;
}
.content_min {
    width: 96%;
    height: 100%;
    margin: auto;
}
.content_Pictures-child {
    width: 100%;
    height: 200px;
    display: inline-block;
   
}
.content_Pictures-child-r{
    width: 100%;
    height: 200px;
    display: inline-block;
}
.content_min-content-img {
        width: 30%;
    height: 90px;
    display: block;
    float: left;
    margin-right: 10px;
}
.content_min-content-font{
	width: 71%;
}
.content_min-content-font-china{
   width: 100%;
}
.content_Amenities_font {
    float: left;
    width: 66%;
}
.content_Amenities {
    width: 27%;
    float: left;
    background-color: rgb(232, 245, 253);
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 20px;
    padding-right: 5px;

}
.content_bottom-p {
    font-size: 12px;
}
.content_min-content{
  width: 100%;
  height: 100%;
    display: inline-flex;
    margin-bottom: 0px;
}
.content_bottom {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
}