*{
   padding: 0;
   margin: 0;
}
.baozhu{
	width: 1000px;
	height: 500px;
	position: relative;
	margin-top:5px; 
	
}
.left{
	height: 550px;
	width: 80px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;

}
.left img{
    margin-top: 220px;
    position: absolute;
    right: 0;
}
  


.right{
	height: 500px;
	width: 80px;
	position: absolute;
	right:0px;
	top: 0px;

}
.right img{
	position: absolute;
    left:0;
    top: 0px;
	     

}
.zhong{
	height: 100%;
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;

}
.zhong img{
	width: 100%;
	height: 100%;
}
.sanliudu{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(196, 35, 72);
    font-size: 14px;
}

 .tutupian{
  padding-left: 20px;
 }

.left a{
  font-size: 40px;
  display: block;
  margin-top: 200px;
  margin-left:0px;
  background-color: rgba(0,0,0,0.4); 
  text-align: center;
  color: #fff;
  text-decoration: none;
      width: 80px;
    height: 80px;
}
.right a{
 font-size: 40px;
    display: block;
    margin-top: 200px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    width: 80px; 
    height: 80px;
}
 .right a:after{
    content:"";
      width: 20px;
    height: 20px;
    border: 3px solid #ecf3f7;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    margin: auto;
    margin-top: 30px;
    display: -webkit-inline-box;   
    -webkit-transform:  rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.left a:after{
    content:"";
     width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #ecf3f7;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
    display: -webkit-inline-box;
      -webkit-transform:rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);    
}
@media(max-width: 768px) {

  .zhong{
	height: 100%;
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;

}
.baozhu{
	width: 100%;
	height: 500px;
	position: relative;
	margin-top:5px; 
	
}
.right{
	height: 500px;
	width: 80px;
	position: absolute;
	right:0px;
	top: 0px;

}
.right img{
	position: absolute;
    left:0;
    top: 0px;
	     

}
.glyphicon-menu-right:before {
    content: "\e258";
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    color: #fff;
}
.left{
	height: 500px;
	width: 80px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;

}
.glyphicon{
    position: relative;
    top: 225px;
    right: 0px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        display: -webkit-box;
        margin:-left:15px; 
}


}
@media(max-width: 767px) {

  .zhong{
	height: 100%;
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;

}
.baozhu{
	width: 100%;
	height: 371px;
	position: relative;
	margin-top:5px; 
	
}
.right{
	height: 371px;
	width: 80px;
	position: absolute;
	right:0px;
	top: 0px;

}
.right img{
	position: absolute;
    left:0;
    top: 0px;
	     

}
.left{
	height: 371px;
	width: 80px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;

}
.left a {
    font-size: 40px;
    width: 60px;
    display: block;
    margin-top: 150px;
    margin-left: 0px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #a99b9b;
    text-decoration: none;
}
.right a {
    font-size: 40px;
    width: 60px;
    display: block;
    margin-top: 150px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #a99b9b;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 20px;
}

}


