
*{
    margin: 0;
    padding: 0;
}
body{
  overflow-y:scroll; 
}
.dadatu{
    width: 96%;
   margin: auto;
   height: 500px;
}
.dadatu img{
    width: 100%;
    height: 100%;
}
.xiaotupian{
    width: 96%;
    margin-top:30px;
    margin: auto;
}
.datupian{
    width: 100px;
    height: 100px;
    float: left;
    margin-left:6px; 
    margin-top:9px;
}

.datupian img{
 width: 100%;
 height: 100%;
}
.sanliudu{
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: rgb(196, 35, 72);
    font-size: 14px;
        display: inline-block;
    font-weight: 700;
}
.block{
  display: none;
}
.huangu{
  height: 650px;

}
embed{
  width: 900px;
  height: 600px;
}
/*   */

  @media(max-width: 768px){
       .datupian{
        margin-left:20px; 
       }
       
 embed{
  width: 92%;
  height: 460px;

}
.huangu{
  height: 460px;
}
     }

       @media(max-width: 767px){
       .datupian{
            margin-left: 9px;
    width: 30%;
       }
       .dadatu{
        height: 250px;
       } 
       
       embed{
  width: 92%;
  height: 245px;
}
.huangu{
  height: 345px;
}
}


    