*{
  margin: 0;

}
.room-biaodan-span{
  font-size: 14px;
}
.room-input{
  width: 150px;
  height: 30px;
  background-color: #fff;
   background:url(../images/riqi.png)no-repeat 100%;
   border: none;
   border: 1px solid #ccc;
}
.room-biaodan-span1{
  font-size: 14px;
  margin-left: 10px; 
}
.room-input1{
  width: 150px;
  height: 30px;
    background-color: #fff;
   background:url(../images/riqi.png)no-repeat 100%;
   border: none;
   border: 1px solid #ccc;
}
.room-button{

  height: 30px;
   border: none;
   background-color: rgb(196, 35, 72);
   color: #fff;
   margin-left: 2px; 
   border-radius:5px; 
  margin-left: 10px;
   margin-bottom: 30px;
   padding-right: 10px;
    padding-left: 10px;
}
select{
  width: 60px;
  height: 30px;
  margin-left: 10px;
}
.left{
  display: inline-block;
}
.right{
    display: inline-block;
}
.buttom{
  display:inline-flex;
} 
.jubu{
  width: 100%;
  height: 57px;
      margin-top: 10px;

}
.jubu-left{
      display: inline-block;
    width: 60%;
    margin-left: 5px;
    line-height: 15px;
    border: none;
    background: #eff4fa;
    text-align: left;
    height: 53px;
}
.jubu-left h4{
    font-size: 18px;
    color: #3377dd;
}
.jubu-right{
  float: right;
  display: inline-block;

}
.jubu-right1{
  float: right;
  display: inline-block;
  margin-top: 5px;

}
.usd{
    font-size: 15px;
    margin-top: 0px;
        padding-right: 20px;
        color: red;

}
.usd a{
  color: red;
}
.wenzi1{
   margin: 3px;
   border: 1px solid #ccc;
.display{
  display: list-item;
  list-sty
}
.sanjiao1{
  display: none;
}
}
.content{
  width: 990px;
  margin: auto;
}
.bbb{
  display: block;
  width: 100%;
  padding-top:0px; 
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}


.biaoge-right-2{
    width: 45px;
    height: 23px;
    display: block;
}
.biaoge-right-2 button{
    width: 45px;
    height: 23px;
    background-color:#c42348;
    border:none; 
}
.biaoge-right-2 button a{
  color: #fff;
}
.biaoge-right-1{
  text-align: center;
  color: blue;
  margin-top: 2px;
  color: rgb(13, 20, 186);
}
}
.dajubu{
  width: 914px;
}
.biaoge-top{
  display:block;
  height: 30px;
      color: #948585;
      background-color: rgb(245, 245, 245);
    
    padding-top: 8px;
       
}

.td{
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
  padding-top:1%; 

}
.shouji-top{
  display: none;
}


.jubu{
 display: block;
border: 1px solid #ccc;
background-color: #eff4fa;

 }
.jubu2{
   display: none;
 }
 .jubu1{
   display: none;
 }
 .motai{
  border: none;
  background-color:#fff; 
  color: red;
  border-bottom: 1px dashed red;
  outline: none;
 }
 .motai-bianti{
  color: rgb(51, 119, 221);
    width: auto;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
   margin-left: 5px;
    display: inline-block;
    margin-top: 10px;
}
 }
  .motai-biaopan{
            margin: 0px 3px 0px 5px;
    width: auto;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: rgb(13, 20, 186);
    border-color: rgb(237, 230, 230);
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgb(237, 230, 230);
    margin-left: 5px;
  }
.motai-xiabiaoti{
      font-weight: 700;
    font-size: 12px;
    color: #3377dd;
  
    padding: 0px 0px 0px 5px;
}

.han{
  border: 1px solid #ccc;
  margin-top:0px; 
      padding-top: 8px;
    height: 50px;
    border-left: none;


}

.baoteble{
  background-color: #ccc;
  width: 100%;
      height: 20px;
    padding-top: 3px;
  background-color: rgba(241,241,241,1);
}


.table-bordered {
   border: none;

}

.modal-footer {
    padding: 15px;
    text-align: right;
    border: none;
}
.bui{
  margin-bottom:5px;
  margin-left: 5px;
    margin-right: 5px;

}
.font-red{
  color: red;
  padding-top:10px;
  border-top:1px solid #ccc; 
  margin: 0;

}
.modal-header {
    padding:0px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 0px;
}
 .xiaoxiaotu1{
  width: 48%;
  margin-top:10px;
  float: left;
 }
 .baoxiaoxiao{
  padding: 10px;
 }
.xiaoxiaobiaoti{
     display: inline-block;
    color: rgb(51, 119, 221);
    width: auto;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 18px;
}

  } 
.modal-header .close {
    margin-top: 5px;
    margin-right: 18px;
        width: 20px;
    height: 20px;
} 
.wenzi1{
  border: none;
}
.two{
      margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;

}

.td:hover{
  background-color: #eff4fa;
}

.baise{
    color: #fff;
    background-color: #ce2323;
    display: block;
    width: 40px;
    text-align: center;
    height: 23px;
    padding-top: 4px;
    border-radius: 5px
}
.baise:hover{
    color: #fff;
}
.xiaoduluo{

  margin-top:30px;
 
  padding-left:30px;  
}
.xiaoduluo li{
      color: red;
      list-style: square;
      padding-right: 5px;
}
.bian{
  color: #000;
}

.bian:hovre{
  color: red;
}

.qian11{
  color: red;
  border-bottom: 1px dashed red;
}
.th{
  display: none;
}
.motaianniu1{
  width: 100%;
  height: 43px;
  border-right-left : 5px;
  border: 1px solid #ccc;
  background: #fff; 
  font-size: 16px;
      color: red;
      border: none;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
    border-left: none;
    border-right: none;
}
.motaianniu2{
  width: 100%;
  height: 43px;
  border-right-left : 5px;
  background-color: rgb(51, 119, 221);\
  border: 1px solid #ccc;
  border-radius: 0 0 5px 0px; 
  font-size: 16px;
   color: #fff;
   border: none;

}
.aaaa1{
   width: 100%;
    margin-top:40px; 
  
    }
.motaianniu3{
  width: 100%;
  height: 43px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 0 0 0px 5px; 
  font-size: 18px;
  color: #000;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 5px;
}
.modal-footer{
  padding: 0px;
  width: 100%
}
.aaaa{
  width: 50%;
}
.fangxing{
      border: 1px solid #ccc;
      border-top: none;
      padding: 5px 0px 5px 6px;
      
}
.fangtu{
  width: 90px;
  height: 90px;
    display: inline-block;
        margin-top: 5px;
}
.fangtu img{
  width: 100%;
  height: 100%;
}
.sanjiao1{
  display: none;
}
.zhongjian1{

}
.duiqi{
  margin-top:-5px;
}
.zhaopian img{
    margin-top: -5px;
}
.han label{
  display: block;
  text-align: center;
}
.biaotou11{
  padding: 0;
  height: 18px;
  text-align: center;
}
.touzi{
  font-size: 14px;
  padding: 5px;
  display: block;
  background: #5abcf8;
  
  margin: 0px;
}
.buibui1{
  width: 500px;
  height: 112px;
  position: absolute;
  background: #fff;
  display: none;
  border: 1px solid #5abcf8;

}
.bui1{
position: absolute;
width: 498px;
}
.han1{
  padding: 0;
    margin-top: 0px;
    padding-top: 8px;
    height: 64px;
    text-align: center;
}
.han1 label{
  display: block;

}
.yiru{
  height: 35px;
      text-align: center;
}
.floatfint{
  width: 300px;
  border: 1px solid #5abcf8; 
  position: absolute;
  display: none;
  background: #fff;
}
.padding1{
   padding: 5px;
  
}
.zitifloe{
  height: 30px;
      padding: 0;
}
.bbbb3{
  display: none;
}
.bbbb4{
  display:block;
}
.text-align{
  text-align: center;
}
.zhaopian{
  text-align: center;
}
.c2_cmbg {
    padding-top: 0px;
    background-color: #fff;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}
.modal-open .modal {
    overflow-x: hidden; 
    overflow-y: auto;
}
.dabui{
 overflow-y: scroll;
    height: 250px;


}
.modal-header .close {
    margin: 5px 10px 5px 0px;
    padding: 4px 5px 0 0;
    opacity: 1;
}
.tuwenzhi{

  margin:5px 0 0 0;
  font-size: 13px;
  padding:0; 
      padding-right: 5px;
}
.modal-header{
  border-radius: 5px;
}

@media(max-width: 1024px){

  .dajubu{
  width: 994px;
      margin-left: -2px;
}
.wenzi1{
  border: none;
}


  .jubu{
  width: 100%;
  height: 55px;
      margin-top: 10px;
      background-color: #eff4fa;
}

  .qian11 {
    color: red;
    border-bottom: 1px dashed red;
        font-size: 14px;
  }
  .fangxing{
    margin: 0px 0px 0px 0px;



  }
  .room-input1{
  width: 120px;
  height: 30px;
    background-color: #fff;
   background:url(../images/riqi.png)no-repeat 100%;
   border: none;
   border: 1px solid #ccc;
}
.room-input{
  width: 120px;
  height: 30px;
  background-color: #fff;
   background:url(../images/riqi.png)no-repeat 100%;
   border: none;
   border: 1px solid #ccc;
}
}


  /*    */
 @media(max-width: 768px){

  .content{
  width: 768px;
}
.wenzi1{
  border: none;
}


  .dajubu{
  width: 768px;
}

  .jubu{
  width: 99%;
  height: 70px;
      margin-top: 10px;
      margin-left:6px; 
}
.bbb {
    display: block;
    width: 99%;
    padding-top: 0px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    margin-left: 6px;
}
  

  .biaoge-right-2 button{
   background-color:rgb(255, 85, 85);
   color: #fff;
       border-radius: 5px;
       width: 45px;
  }
  .shouji-anniu button{
     background-color:rgb(255, 85, 85);
  }


  .biaoge-top {
    display: block;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.room-button {
    height: 30px;
    border: none;
    background-color: rgb(196, 35, 72);
    color: #fff;
    margin-left: 2px;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 30px;
    padding-left: 6px;
    padding-right: 6px;
}
select{
  width: 13%;
    height: 30px;
    margin-left: 5px;
}
.gro-biaodan {
    width: 100%;
    margin-top: 30px;
    margin-top: 10px;
    text-align: center;
}

.fangxing{
      border: 1px solid #ccc;
      border-top: none;
      padding: 5px 0px 5px 6px;
          margin: 0px 2px 5px 6px; 
}
 .modal-header  .dashacha{
      margin: 0px;
    padding: 13px;
    opacity: 1;
}
}
/*     */
 @media(max-width: 767px){

  .content{
  width: 100%;
}


  .dajubu{
  width: 100%;
      padding-left: 5px;
}
.wenzi11{
  border: none;

}


  .jubu{
  width: 100%;
  height: 83px;
 margin-top: 30px;
 border-bottom: 1px solid #ccc;
}

  .biaoge-top {
  display: none;
}
    
  .biaoge-right{
    width: 30%;
    float: right;
    display: inline-block;
}

  .qian1{
   display:none; 
}

  .zhaopian{
    display: block;
}

  .ziti{
   display: block;
}

  .bbb{
  display: none;
}

.room-button {
    width: 70%;
    height: 30px;
    border: none;
    background-color: rgb(196, 35, 72);
    color: #fff;
    margin-left: 5px;
    border-radius: 5px;
      }

  .left{
  width: 45%;
  margin-left:5px; 
}

  .left .room-biaodan-span{
   display: block;
}

  .left input{
    width: 100%;
    margin-bottom:15px; 
}

  .right{
   width: 45%;
   margin-left:10px; 
}

  .right input{
    width: 100%;

}

.room-biaodan-span1 {
    font-size: 14px;
    margin-left: 0px;
}
  .shouji-top{
  width: 100%;
  padding-top:10px; 

  
}

  .shouji-top .th div{
  float: left;
    
    padding: 0px;
   

  
}

.shouji-left{
  width: 41%;
    padding-left: 5px;
    float: left;
    background: #fff;
    border: none;
    height: 52px;
    text-align: left;
    outline: none;
}

 .shoujizhongjian{
   width: 30%;
   padding-top: 13px;
    padding-left:5px;
}

.shouji-right{
   width: 28%;
   height: 55px;
   padding-top: 10px;

}

.shouji-right span{
 
    width: 43px;
    display: inline-block;
    text-align: center;
    color: rgb(13, 20, 186);
 
}


  .shouji-anniu{
  width:  40%;
  height: 23px;
  background-color:rgb(255, 85, 85);
  border: none;
  color: #fff;
  border-radius: 6px;
}

.th{
  height: 55px;
  margin-top:5px;
  border-bottom: 1px solid #ccc;  
}
.jubu-left h4{
 font-size: 13px;
 color: #3377dd;
 }
.jubu-right .usd{
 font-size: 13px;
 margin-bottom:20px; 
 margin-top:3px; 
 color: red;

 }
 
.shouji-top{
 display: block;
 }

.jubu1{
 display: block;
 margin-top:10px; 
 background-color: #eff4fa;
 height: 70px;
 }
.jubu{
   display: none;
 }
.jubu2{
 display: block;
 background-color: #eff4fa;
 }
 .room-button1{
    display: none;
 }
 .shouji-top{
  display: block;
 }
 .td{
  display: none;
 }
 .th{
  display: block;
}
.buttom{
  width: 100%;
}
.fangxing{
  display: none;
  border: none;
}
.fangxing span{
  display: none;
}
.fangxing span img{ 
  display: none;
}

.sanjiao4{
  display: none;
}
.baise {
    color: #fff;
    background-color: #ce2323;
    display: block;
    text-align: center;
    height: 23px;
    padding-top: 4px;
    float: right;
        border-radius: 5px;
}
.shouji-top .th  .shoujizhongjian{
   margin-top:12px;
}
.shouji-top .th .shouji-right{
  margin-top: 12px;
  height: 42px;
}
.modal.in .modal-dialog {
      -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(-50%,-50%);

    position: absolute;
    left: 50;
    left: 50%;
    top: 50%;
    width: 92%;
}

.gro-biaodan {
    width: 100%;
    margin-top: 30px;
    margin-top: 10px;
    text-align: center;
    text-align: left;
}
.baoteble .biaotou1{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 10;
    font-size: 12px;
}
.baoteble .biaotou1 label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 10;
    font-size: 12px;
    text-align: center;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 12px;
        margin-top: 3px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;

}
.hanhan1{
  border-left:1px solid #ccc;  
}
.tuwenzhi{

  margin:5px 0 0 0;
  font-size: 12px;
  padding:0; 
}
.jubu-left {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
    line-height: 15px;
    border: none;
    background: #eff4fa;
    text-align: left;
    height: 70px;
    font-size: 12px;
        outline: none;

}
.xiaoxiaobiaoti {
    display: inline-block;
    color: rgb(51, 119, 221);
    width: auto;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 9px;
}
select {
    width: 20%;
    height: 30px;
    margin-left: 5px;
    }
    .modal-dialog {
    position: relative;
    width: auto;
    margin: 0px; 

}
.btn-lgs{
  background: none;
    border: none;
    color: red;
    border-bottom: 1px dashed red;
    outline: none;
}


}