.shuaka{
	    margin-top: 5px;
	height: 120px;
	margin-bottom: 20px; 
}
.yinghang {
    width: 98%; 
    height: 240px;
    margin-top: 10px;
    border: 1px solid rgb(72, 130, 210);
    padding: 10px;
    margin-bottom: 30px;
}
.yinghang span{
float: left;
margin-right: 10px;

}
.yinghang span {
    width: 29%;
}
.kuang1{
	width: 125px;
	height: 25px;
}
.duanluoq{
	display: block;
	width: 138px;
	height: 25px;
	margin-top:25px; 
}
.aaaa{
	margin-top:10px; 
}
.fenhong{
	color:  #c42348;
	font-size: 13px;
	margin-bottom:20px; 
 margin-top: 10px;
}
.anniu{
	margin-top:60px; 
}
.right-right{
	margin-top: 3px;
  line-height: 0px;
}
.inp input{
	height:25px;
	border: 1px solid #ccc;
}
.inp1 input{
    height: 25px;
    border: 1px solid #ccc;
    margin-left: 30px;

}
.inp2 input{
	height:25px;
	border: 1px solid #ccc;
}
.yinghang .inp2{
	width: 35%;
}
.fanhui {
    text-align: center;
   
}
.anniu{
   margin-left: 0;
}
.margin{
  margin-left:30px; 
}
@media (max-width: 1024px){
.fanhui {
    text-align: center;
    
}
.anniu{
   margin-left: 0;
}
}
@media (max-width: 768px){
   .yinghang span{
      display: flex;
      margin-top:10px; 
      width: 100%;
   }
   .margin{
  margin-left:0px; 
}
   .yinghang{
   	height: 250px;
   }
   .yinghang span p{
   	    width: 28%;
    margin-right: 20px;
}
.yinghang .inp2 {
    width: 100%;
    }
   

.fanhui {
    text-align: center;
   
}
.anniu{
   margin-left: 0;
}
.inp1 input {
    height: 25px;
    border: 1px solid #ccc;
    margin-left: 0px;
}
.kuang1 {
    width: 170px;
    height: 25px;
}
}
@media (max-width: 767px){
.yinghang{
    height: 323px;
}
.yinghang p{
   width: 20%
}
.fanhui {
    text-align: center;
    margin-top:-30px; 

}
.yinghang .inp2 {
    width: 100%;


}.anniu{
   margin-left: 0;
}
.inp1 input {
    height: 25px;
    border: 1px solid #ccc;
    margin-left: 0px;
}
.kuang1 {
    width: 170px;
    height: 25px;
}
.margin{
  margin-left:0px; 
}
}















}